<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>483129982424-955u4arb5fnbm7qih04ihepal551kbl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483129982424-955u4arb5fnbm7qih04ihepal551kbl6</string>
	<key>API_KEY</key>
	<string>AIzaSyAyIsoMKwEcPibe9To7PgHyzJiDe9YgL8E</string>
	<key>GCM_SENDER_ID</key>
	<string>483129982424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.powertimer.ios</string>
	<key>PROJECT_ID</key>
	<string>powertimer0</string>
	<key>STORAGE_BUCKET</key>
	<string>powertimer0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483129982424:ios:0f075062a0f54233</string>
	<key>DATABASE_URL</key>
	<string>https://powertimer0.firebaseio.com</string>
</dict>
</plist>